.wrapper {
  position: absolute;
  top: 0;
  right: 4rem;
  width: 55%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.canvas {
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeIn 2s ease 0.3s forwards;
}

@media (max-width: 968px) {
  .wrapper {
    display: none;
  }
}

@keyframes fadeIn {
  to { opacity: 1; }
}
